@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --dark-red: 5 60% 32%;
    --gold: 40 67% 53%;
    --gray-scorpion: 0 0% 38%;
    --banana: 40 100% 87%;
    --gray-44: 0 0% 44%;

    --noto-sans: 'Noto Sans', sans-serif;
  }

  body {
    @apply bg-gray-50 antialiased h-full w-full;
    font-family: 'Noto Sans', sans-serif;
  }

  ::-webkit-scrollbar {
    @apply hidden;
  }

  ::-webkit-scrollbar-track {
    @apply hidden;
  }

  ::-webkit-scrollbar-thumb {
    @apply hidden;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply hidden;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    @apply appearance-none m-0;
  }
}
