@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --dark-red: 5 60% 32%;
    --gold: 40 67% 53%;
    --gray-scorpion: 0 0% 38%;
    --banana: 40 100% 87%;
    --gray-44: 0 0% 44%;
    --red-vermilion: 15 74% 48%;
    --light-grey: 0 0% 82%;
    --stone-300: 0 0% 76%;
    --zinc-100: 0 0% 95%;
    --neutral-400: 180 5% 56%;
    --orange-700: 15 74% 48%;

    --noto-sans: 'Noto Sans', sans-serif;
  }

  body {
    @apply bg-gray-50 antialiased h-full w-full;
    font-family: 'Noto Sans', sans-serif;
  }

  ::-webkit-scrollbar {
    @apply hidden;
  }

  ::-webkit-scrollbar-track {
    @apply hidden;
  }

  ::-webkit-scrollbar-thumb {
    @apply hidden;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply hidden;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    @apply appearance-none m-0;
  }
}

@layer components {
  .p-error {
    @apply text-red-500;
  }

  .p-error:first-letter {
    @apply uppercase;
  }
}
